<div class="container">
    <h1 class="text-center">About us</h1>
    <h3></h3>
    <p>
        A classified app is a tremendously lucrative platform that can be useful to gear up your business to the next level with enhanced features in the app. A classified app is a platform by which we can advertise or promote our product and services. Also, we can purchase, sell, or lease/ hire things online. The customized classified ads are a solution to your problem, if you have a small business firm or marketing professional, and want a free advertising solution, to reach new customers more efficiently.
    </p>
</div>
<footer class="page-footer font-small blue pt-4">

  
    <div class="container text-center text-md-left">
  
   
      <div class="row">
  
       
        <div class="col-md-6 mt-md-0 mt-3">
  
         
          <a class="navbar-brand" href="#">
            <img src="../../assets/Corporate Classifieds logo.png" class="img-responsive logo">
          </a>
          
        </div>
       
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        
        <div class="col-md-3 mb-md-0 mb-3">
  
         
          <h5 class="text-uppercase"></h5>
  
          <ul class="list-unstyled">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/contact">Contact us</a>
            </li>  
          </ul>
  
        </div>
       
  
      </div>
   
  
    </div>
  
  
  
    <div class="footer-copyright text-center py-3">© Corporate Classifieds
      
    </div>
    
  
  </footer>