<div class="container">
    <h1 class="text-center">Contact us</h1>
    <h3 class="text-primary">
        Team CTS Interns<br>
        POD 3<br>
        India <br>
       
    </h3>
    <h3>
        Email:teamctspod3@gmail.com<br>
        Phone:+91 799 424 5510
    </h3>
</div>
<footer class="page-footer font-small blue pt-4">

  
    <div class="container text-center text-md-left">
  
   
      <div class="row">
  
       
        <div class="col-md-6 mt-md-0 mt-3">
  
         
          <a class="navbar-brand" href="#">
            <img src="../../assets/Corporate Classifieds logo.png" class="img-responsive logo">
          </a>
          
        </div>
       
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        
        <div class="col-md-3 mb-md-0 mb-3">
  
         
          <h5 class="text-uppercase"></h5>
  
          <ul class="list-unstyled">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/contact">Contact us</a>
            </li>  
          </ul>
  
        </div>
       
  
      </div>
   
  
    </div>
  
  
  
    <div class="footer-copyright text-center py-3">© Corporate Classifieds
      
    </div>
    
  
  </footer>