<div class="container">
    <h1 class="text-center">Add Offer</h1>
    <form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
        <table class="table">
           
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" formControlName="name" style="display:none">
                        <input type="text" formControlName="name" class="form-control">
                      
                        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
    
                            <div *ngIf="name?.hasError('required')">
                                Name of the offer is required.
                            </div>
    
                            <div *ngIf="name?.hasError('minlength')">
                                name must be at least 3 characters long.
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        <input type="textbox" rows="2" formControlName="description" class="form-control">
                       
                        <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger">
    
                            <div *ngIf="description?.hasError('required')">
                                Description is required.
                            </div>
    
                            <div *ngIf="description?.hasError('minlength')">
                                Description must be at least 10 characters long.
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <select class="form-control" formControlName="category">
                            <option>Electronics</option>
                                <option>Fashion</option>
				                <option>Furniture</option>
				                <option>Accessories</option>
                                <option>Others</option>
                            </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" [disabled]="!offerForm.valid"> Submit</button>
    </form>
    
</div>
